langchain
langchain-openai
langchain-core
langchain-community
langchain-huggingface
sentence-transformers
langgraph
faiss-cpu
sqlalchemy
python-dotenv
pydantic
pydantic-settings
uvicorn[standard]
fastapi
watchfiles